---
import Link from '@/components/Link.astro'
import AvatarComponent from '@/components/ui/avatar'
import { cn } from '@/lib/utils'
import type { SocialLink } from '@/types'
import type { CollectionEntry } from 'astro:content'
import SocialIcons from './SocialIcons.astro'

interface Props {
  author: CollectionEntry<'authors'>
}

const { author } = Astro.props
const { name, avatar, bio } = author.data
const currentPath = Astro.url.pathname
const isAuthorPage = currentPath === `/authors/${author.id}`

const socialLinks: SocialLink[] = [
  author.data.website && { href: author.data.website, label: 'Website' },
  author.data.github && { href: author.data.github, label: 'GitHub' },
  author.data.twitter && { href: author.data.twitter, label: 'Twitter' },
  author.data.linkedin && { href: author.data.linkedin, label: 'LinkedIn' },
  author.data.mail && { href: `mailto:${author.data.mail}`, label: 'Email' },
].filter(Boolean) as SocialLink[]
---
<div
  class="has-[a:hover]:bg-muted/50 overflow-hidden border-2 border-muted-foreground p-4 transition-colors duration-300 ease-in-out"
>
  <div class="flex items-start gap-6"> {/* slightly larger gap from avatar */}
    <div class="shrink-0">
      <AvatarComponent
        client:load
        src={avatar}
        alt={`Avatar of ${name}`}
        fallback={name[0]}
        className={cn(
          'size-32 rounded-none [&>[data-slot="avatar-fallback"]]:rounded-md'
        )}
      />
    </div>

    {/* allow content to stretch further right */}
    <div class="flex min-w-0 flex-1 flex-col">
      <div>
        <div class="flex flex-wrap items-center gap-x-2">
          <h3 class="text-2xl font-medium">{name}</h3>
        </div>
        <p class="mt-2 font-sans flex-wrap text-muted-foreground">
          {bio}
        </p>
      </div>

      {/* push links down and add more separation */}
      <div class="mt-8 pt-4">
        <SocialIcons links={socialLinks} />
      </div>
    </div>
  </div>
</div>
